require 'date'
<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% date=Time.now %>
        <p>The date is <%=strftime() %></p>
    </body>
</html>