require 'date'
<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <% current_date = DateTime.new %>
        <p><%= "The date is" %></p>
    </body>
</html>